div.lxi-callout-box {
    background: #ddf;
    padding: 10px 30px;
    border-radius: 1em;
}

div.lxi-small-box {
    background: rgb(235, 235, 235);
    font-size:small;
}

div.spec-table {
    table {
        border-collapse: collapse;
        border: 1px solid black;
        font-family: sans-serif;
    }
    th {
        border: 1px ;
        padding: 1px;
        background-color: #9e5a2f;
        color: white;
    }

    td {
        
        border: 1px solid black;
        padding: 1px;
    }

    td:first-child {
        min-width: 70%;
        
    }

    td:nth-child(4), td:nth-child(5), th:nth-child(4), th:nth-child(5) {
        min-width: 30px;
    }
    
}